<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcgl.service.dao.AccessRecordDao">
    <!--  注意结果的映射关系，resultMap对应准化不能关系-->
    <select id="getAccessRecordByLicensePlateSet">
        select
        *
        from t_access_record
        where
        license_plate in
        <foreach collection='licensePlateSet' item='licensePlate' open='(' separator=',' close=')'>
            #{licensePlate}
        </foreach>
    </select>
</mapper>