<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.record.tcgl.dao.AuthDao">
    <select id="findAuthByUserId" resultType="com.record.tcgl.entity.Auth">
        select t1.*
        from t_auth t1
                 left join t_role_auth t2 on t1.id = t2.auth_id
                 left join t_user_role t3 on t2.role_id = t3.role_id
        where t1.id = #{userId}
    </select>
</mapper>