<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.RecordMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Record" >
    <id column="source_id" property="sourceId" jdbcType="INTEGER" />
    <result column="license_plate" property="licensePlate" jdbcType="VARCHAR" />
    <result column="owner_name" property="ownerName" jdbcType="VARCHAR" />
    <result column="enter_time" property="enterTime" jdbcType="TIMESTAMP" />
    <result column="out_time" property="outTime" jdbcType="TIMESTAMP" />
    <result column="billing_price" property="billingPrice" jdbcType="DECIMAL" />
    <result column="access_times" property="accessTimes" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    source_id, license_plate, owner_name, enter_time, out_time, billing_price, access_times
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_record
    where source_id = #{sourceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_record
    where source_id = #{sourceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Record" >
    insert into t_record (source_id, license_plate, owner_name, 
      enter_time, out_time, billing_price, 
      access_times)
    values (#{sourceId,jdbcType=INTEGER}, #{licensePlate,jdbcType=VARCHAR}, #{ownerName,jdbcType=VARCHAR}, 
      #{enterTime,jdbcType=TIMESTAMP}, #{outTime,jdbcType=TIMESTAMP}, #{billingPrice,jdbcType=DECIMAL}, 
      #{accessTimes,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.Record" >
    insert into t_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sourceId != null" >
        source_id,
      </if>
      <if test="licensePlate != null" >
        license_plate,
      </if>
      <if test="ownerName != null" >
        owner_name,
      </if>
      <if test="enterTime != null" >
        enter_time,
      </if>
      <if test="outTime != null" >
        out_time,
      </if>
      <if test="billingPrice != null" >
        billing_price,
      </if>
      <if test="accessTimes != null" >
        access_times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sourceId != null" >
        #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="licensePlate != null" >
        #{licensePlate,jdbcType=VARCHAR},
      </if>
      <if test="ownerName != null" >
        #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="enterTime != null" >
        #{enterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outTime != null" >
        #{outTime,jdbcType=TIMESTAMP},
      </if>
      <if test="billingPrice != null" >
        #{billingPrice,jdbcType=DECIMAL},
      </if>
      <if test="accessTimes != null" >
        #{accessTimes,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.Record" >
    update t_record
    <set >
      <if test="licensePlate != null" >
        license_plate = #{licensePlate,jdbcType=VARCHAR},
      </if>
      <if test="ownerName != null" >
        owner_name = #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="enterTime != null" >
        enter_time = #{enterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outTime != null" >
        out_time = #{outTime,jdbcType=TIMESTAMP},
      </if>
      <if test="billingPrice != null" >
        billing_price = #{billingPrice,jdbcType=DECIMAL},
      </if>
      <if test="accessTimes != null" >
        access_times = #{accessTimes,jdbcType=INTEGER},
      </if>
    </set>
    where source_id = #{sourceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Record" >
    update t_record
    set license_plate = #{licensePlate,jdbcType=VARCHAR},
      owner_name = #{ownerName,jdbcType=VARCHAR},
      enter_time = #{enterTime,jdbcType=TIMESTAMP},
      out_time = #{outTime,jdbcType=TIMESTAMP},
      billing_price = #{billingPrice,jdbcType=DECIMAL},
      access_times = #{accessTimes,jdbcType=INTEGER}
    where source_id = #{sourceId,jdbcType=INTEGER}
  </update>
</mapper>