<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.VehicleOwnerDao">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.VehicleOwnerEntity">
    <!--@mbg.generated-->
    <!--@Table t_vehicle_owner-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="license_plate" jdbcType="VARCHAR" property="licensePlate" />
    <result column="vehicle_owner" jdbcType="VARCHAR" property="vehicleOwner" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_person" jdbcType="VARCHAR" property="createPerson" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_person" jdbcType="VARCHAR" property="updatePerson" />
    <result column="delete_state" jdbcType="VARCHAR" property="deleteState" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, license_plate, vehicle_owner, create_time, create_person, update_time, update_person, 
    delete_state
  </sql>
</mapper>